.calculator {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.field {
  height: 80px;
  background-color: #242423;
  color: lightblue;
  width: 80px;
  font-size: 2rem;
  align-items: center;
  justify-content: center;
  display: flex;
  border: 1px solid white;
  grid-gap: 1px;
  box-sizing: border-box;
  border-radius: 4px;
}

.field:hover {
  background-color: #7a7a78;
}

.fieldx2w {
  height: 80px;
  width: 160px;
  grid-column: span 2;
  color: red;
}

.fieldx2h {
  height: 160px;
  width: 80px;
  grid-row: span 2;
  color: red;
}

.grid-container {
  display: grid;
  flex-wrap: wrap;
  width: 320px;
  height: 320px;
  grid-template-columns: repeat(4, 80px);
  grid-template-rows: repeat(4, 80px);
}

.display-container {
  width: 320px;
  height: 150px;
  background-color: #242423;
}

.display-container div {
  color: lightblue;
}

.display-content {
  color: #fff;
  display: flex;
  justify-content: right;
  height: 100%;
  align-items: flex-end;
  font-size: 2rem;
  border: 1px solid white;
  border-radius: 4px;
}
